@import "tailwindcss";

/* Paleta personalizada (v4) */
:root {
  --color-primary-50: #fdf2f8;
  --color-primary-100: #fce7f3;
  --color-primary-200: #fbcfe8;
  --color-primary-300: #f9a8d4;
  --color-primary-400: #f472b6;
  --color-primary-500: #ec4899;
  --color-primary-600: #db2777;
  --color-primary-700: #be185d;
  --color-primary-800: #9d174d;
  --color-primary-900: #831843;

  --color-accent-100: #f5f3ff;
  --color-accent-200: #ede9fe;
  --color-accent-300: #ddd6fe;
  --color-accent-400: #c4b5fd;
  --color-accent-500: #a78bfa;
  --color-accent-600: #8b5cf6;
  --color-accent-700: #7c3aed;
}

body {
  background-color: var(--color-primary-50);
  color: rgb(31, 41, 55);
  font-family: system-ui, sans-serif;
}
